* {
  font-family: "raleway", "helvetica";
}

html,body {
  margin: 0;
  padding: 0;
  width: 99%;
  height: 99%;
}

.main {
  text-align: center;
  width: 53%;
  min-height: 85%;
  margin-left: auto;
  
  background-color: #999;
}

.title {
  font-size: 2em;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: white;
  opacity: .3;
}
